/**
Theme Name: FakeID
Author: Admin
Author URI: http://wpastra.com/about/
Description: Custom child theme for Admin
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fakeid
Template: astra
*/

		.acc-content {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
    position: relative;
    color: #e23e57;
    font-size: 18px;
    background: #ffffff;
  margin: 0;
	    border: 2px solid;

  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
    background: #e23e57; color: #fff; padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  margin-top: 13px;
  position: absolute;
  margin-left: 14px;
  color: #e23e57;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}


p.uagb-desc-text {
    padding-bottom: 30px;
}


span.uagb-tm__author-name {
    color: #e23e57 !IMPORTANT;
}


.single-grid-item {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 8px;
       text-align: center;
    margin-bottom: 20px;
	min-height: 280px;
}

.single-grid-item img {
    max-height: 150px;
}

.post-grid-items-fid {
    overflow: hidden;
}



.single-grid-item h3 a {
    color: #000;
    font-size: 17px;
}

.single-grid-item h3 {
    margin-bottom: 0px;
}

.buybtn a {
    display: block;
    background: #e23e57;
    color: #fff;
    font-size: 15px;
    padding: 6px;
}

.buybtn {
    max-width: 128px;
    margin: auto;
}

span.price {
    color: #000;
    font-weight: 700;
    line-height: 30px;
}

.buybtn a:hover {
    color: #fff;
    background: #c72941;
}

div#relatedproducts h3 {
    color: #000;
    margin-left: 13px;
    font-size: 20px;
}

.accordion {
    position: relative;
    margin: 30px auto 60px auto;
    width: 100%;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: #00a486;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  height: 60px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 99%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
	    background: #e23e57;
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
	    line-height: 60px;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
    right: 25px;
  top: 25px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: #fff;
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;
  overflow: hidden;
width: 98%;  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #fff;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}


.accordion > div {
    margin-bottom: 2px;
}

.activealways .accordion-content {
    display: block !IMPORTANT;
    height: auto;
    padding-bottom: 25px;
    padding-top: 10px;
}


.accordion li:before {content: "\f00c";font-family: fontawesome !IMPORTANT;margin-right: 10px;color: #e23e57;}

.accordion-content ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #000;
    font-size: 14px;
    margin-bottom: 13px;
}

.accordion-content ul {
    margin: 0px;
}

.accordion-content {
    color: #000;
}

.product-gallery {
    max-width: 50%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}



li.lslide.active img {
    width: 100% !IMPORTANT;
}

.product-summary {
    max-width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.product-info {
    clear: both;
    padding-top: 30px;
}


h1.product-title {
    color: #000;
    font-size: 32px;
    margin-bottom: 0px;
}

.product-price {
    color: #000000;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    padding: 10px;
    max-width: 30%;
    width: 100%;
    float: left;
}

.ordernow-btn {
    float: left;
    max-width: 100%;
    width: 100%;
}

.product-price p {
    margin-bottom: 0px;
}

.ordernow-btn a {
    background: #e23e57;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    display: block;
    text-align: center;
    max-width: 300px;
    margin: auto;
    margin-top: 24px;
    box-shadow: 2px 2px 2px #0000006b;
	    border: 2px solid #e23e57;

}


.product-summary p {
    color: #000;
    font-size: 23px;
    margin-bottom: 10px;
}

.activealways [id*="open-accordion"]:after, .activealways [id*="close-accordion"]:after {
    display: none;
}

.ordernow-btn a:hover {
    border: 2px solid #e23e57;
    background: #fff;
    color: #e23e57;
}

a.viewallshop {
    font-size: 15px;
}

.product-summary p {
    text-align: center;
}


.angeledac {
    background-color: #e23e57;
    background-image: -webkit-linear-gradient(20deg, #e23e57 50%, #bd1b34 50%);
}

.angeledac h3 {
    color: #fff;
}

.angeledac  .wp-block-column {
}

.angeledac  .wp-block-columns.has-2-columns .wp-block-column {
    padding-right: 60px;
}

.angeledac .wp-block-columns.has-2-columns .wp-block-column:last-child {
    padding-right: 0px !IMPORTANT;
    padding-left: 70px !IMPORTANT;
}


.ewd-ulb-slide-control.ewd-ulb-slide-control-next.ewd-ulb-arrow, .ewd-ulb-slide-control.ewd-ulb-slide-control-previous.ewd-ulb-arrow {
    display: none;
}


@media only screen and (max-width: 768px) {
.single-grid-item {
    width: 33%;
}

.product-gallery {
    max-width: 100% !IMPORTANT;
}

.product-summary {
    max-width: 100%;
    width: 100%;
}


.angeledac  .wp-block-columns.has-2-columns .wp-block-column {
    padding-right: 0px;
}

.angeledac .wp-block-columns.has-2-columns .wp-block-column:last-child {
    padding-right: 0px !IMPORTANT;
    padding-left: 00px !IMPORTANT;
}


}

@media only screen and (max-width: 600px) {
.single-grid-item {
    width: 50%;
}}

@media only screen and (max-width: 400px) {
.single-grid-item {
    width: 100%;
}}





h2.syraff {
    text-align: center;
    color: #000;
    font-size: 38px;
    margin-bottom: 11px;
}

h2.syraff {
    font-size: 30px !IMPORTANT;
    margin-top: 40px;
}

.reviewforam {
    max-width: 600px !IMPORTANT;
    margin: auto;
    background: #e23e57;
}

.reviewforam td.rr_form_heading {
    color: #fff;
}

form#fprr_review_form {padding-top: 30px;}

input#submitReview {
    background: #fff;
    color: #000;
}

.full-testimonial {
    background: #f9f9f9;
    margin-bottom: 30px;
}

body {
    background: #fff !IMPORTANT;
}

h1.product-title {
    text-align: center;
    margin-bottom: 25px;
}